# Simple way to import user specific environmental variables
#
# Example env.conf file:
#
# EMAIL=user@gmail.com
#
[Unit]
Description=Import systemd user env

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'xargs systemctl --user set-environment < $HOME/.config/systemd/env.conf'

[Install]
# Race condition with other default.target proccesses?
# TODO: This service needs to run *before* all other services that depend on it
# setting the environement.  Think I need multiple targets. Sigh.
WantedBy=default.target
