[Unit]
Description=Papertrail
After=systemd-journald.service network-online.target
Requires=systemd-journald.service

[Service]
DynamicUser=true
Group=systemd-journal
ProtectSystem=true
ProtectHome=true
ExecStart=/bin/sh -c 'journalctl -f | ncat --ssl  logs999.papertrailapp.com 12345'
Restart=on-failure
RestartSec=1m

[Install]
WantedBy=multi-user.target
