[Unit]
Description=Storj dataserv-client
IgnoreOnIsolate=true

[Service]
Environment="MAX_SIZE=100GB"
ExecStart=/usr/bin/dataserv-client --max_size=${MAX_SIZE} farm
Restart=always

[Install]
WantedBy=default.target
