[Unit]
Description=Storj dataserv-client
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/dataserv-client --url=http://switch.driveshare.org farm
Restart=always

[Install]
WantedBy=default.target
