[Unit]
Description=Tahoe Deep Check and Repair
OnFailure=failure-email@%i.service
After=backup-obnam.service

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Type=oneshot
ExecStart=/usr/bin/tahoe deep-check --repair --add-lease obnam:
