[Unit]
Description=Failure Monitor for %i

[Service]
ExecStart=/usr/bin/env %h/.config/systemd/utils/failure-monitor/failure-monitor.py %i
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
