# Author: Kyle Manna <kyle[at]kylemanna[dot]com>
#
# Example usage:
#   systemctl --user enable failure-monitor@youremail@domain.com.service
#   systemctl --user start failure-monitor@youremail@domain.com.service
[Unit]
Description=Failure Monitor for %i

[Service]
ExecStart=%h/.config/systemd/utils/failure-monitor/failure-monitor.py %i
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
